<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  autoReload="true">
  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/PoGoSlackBot.${shortdate}.log"
            keepFileOpen="false" encoding="utf-8"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss} - ${level:uppercase=true} - ${logger}: ${message}${onexception:inner=${onexception:${newline}Exception\: ${exception:format=Message,Type,Data:maxInnerExceptionLevel=5:innerFormat=Message,Type,Data}${newline}${stacktrace}}"/>

    <target name="console" xsi:type="Console" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} - ${level:uppercase=true} - ${logger}: ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>